Repository ikeyama-tomonori/cloud-admin-pattern: changes, and which lint-staged commands are due for each by the changed paths.
All: rome format --write, rome check --apply, dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

Test設定の調整
  .vscode/settings.json
  infra/main/bin/__snapshots__/getMain.test.ts.snap
  infra/main/bin/getMain.test.ts
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  vite.config.ts
  vitest.config.ts
  web/pages/package.json
  web/pages/tsconfig.json
Due: rome format --write, rome check --apply

GitHub Actionsの修正
  .github/workflows/check-cs.yml
  .github/workflows/check-ts.yml
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  web/pages/package.json
  web/pages/src/organizations/getOrganizationEdit.test.tsx
  web/pages/src/organizations/getOrganizationList.test.tsx
  web/pages/src/organizations/getOrganizationShow.test.tsx
Due: rome format --write, rome check --apply

GitHub ActionでPNPMのセットアップを追加
  .github/workflows/check-ts.yml
Due: none

PNPMのセットアップを修正
  .github/workflows/check-ts.yml
Due: none

フォーマット修正
  tsconfig.base.json
Due: none

CIの修正
  .github/workflows/check-ts.yml
  package.json
  pnpm-lock.yaml
  web/pages/src/organizations/getOrganizationEdit.test.tsx
Due: rome format --write, rome check --apply

パッケージの更新
  .config/dotnet-tools.json
  README.md
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  server/test/Server.Main.WebApi.Test/Server.Main.WebApi.Test.csproj
  server/test/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
  web/admin/package.json
  web/main/package.json
  web/pages/package.json
Due: none

Directory.Build.propsに共通設定を集約
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  Directory.Build.props
  server/src/Server.Main.AppDbMigration/Migrations/.editorconfig
  server/src/Server.Main.AppDbMigration/Migrations/20230411193933_init.Designer.cs
  server/src/Server.Main.AppDbMigration/Migrations/20230411193933_init.cs
  server/src/Server.Main.AppDbMigration/Migrations/AppDbContextModelSnapshot.cs
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/src/Server.Model/Server.Model.csproj
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  server/test/Server.Main.WebApi.Test/Server.Main.WebApi.Test.csproj
  server/test/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

VSCode拡張を追加 - GItLens - Dotnet Test Explore
  .devcontainer/devcontainer.json
Due: none

GitHub CLIとExtensionを追加
  .devcontainer/devcontainer.json
Due: none

パッケージの更新
  .config/dotnet-tools.json
  .github/workflows/check-ts.yml
  README.md
  infra/resource/package.json
  infra/stack/package.json
  package.json
  pnpm-lock.yaml
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  server/test/Server.Main.WebApi.Test/Server.Main.WebApi.Test.csproj
  web/admin/package.json
  web/data-provider/package.json
  web/pages/package.json
Due: none

pnpm-lockの再作成
  pnpm-lock.yaml
Due: none

Path conditions:
  rome format --write: any of: *.{tsx,ts}
  rome check --apply: any of: *.{tsx,ts}
  dotnet format style --include: any of: *.cs
  dotnet format analyzers --include: any of: *.cs
  dotnet csharpier: any of: *.cs
