Repository ikeyama-tomonori/cloud-admin-pattern: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

.lintstagedrc:

{
    "*.{tsx,ts}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.cs": [
        "dotnet format style --include",
        "dotnet format analyzers --include",
        "dotnet csharpier"
    ]
}

Check action for SonarQube
  .github/workflows/check.yml
  sonar-project.properties
Due: none

Remove sonar-project.properties to avoid crash dotnet-sonarscanner
  .github/workflows/check.yml
  sonar-project.properties
Due: none

Analyze coverage for TypeScript tests
  .github/workflows/check.yml
Due: none

update csprojs
  .config/dotnet-tools.json
  .github/workflows/check.yml
  Directory.Build.props
  coverage.xml
  output.coverage
  packages/Server.EntoryPoint.AppDbMigration/Server.EntoryPoint.AppDbMigration.csproj
  packages/Server.EntoryPoint.WebApi/Server.EntoryPoint.WebApi.csproj
  packages/Server.Model/Server.Model.csproj
  packages/Server.Repository.AppDb/Server.Repository.AppDb.csproj
Due: none

fix test command
  .github/workflows/check.yml
  .gitignore
  coverage.xml
  output.coverage
Due: none

Remove ConsoleLogger from migration app
  packages/Server.EntoryPoint.AppDbMigration/AppDbContextFactory.cs
  packages/Server.EntoryPoint.AppDbMigration/Server.EntoryPoint.AppDbMigration.csproj
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

WebApiのProgram.csから処理を外だし
  packages/Server.EntoryPoint.AppDbMigration/AppDbContextFactory.cs
  packages/Server.EntoryPoint.WebApi/Middleware/EfRestExtention.cs
  packages/Server.EntoryPoint.WebApi/Middleware/EfRestSwaggerExtention.cs
  packages/Server.EntoryPoint.WebApi/Program.cs
  packages/Server.EntoryPoint.WebApi/Service/AddAppDbContextExtention.cs
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

不要なusingの削除
  packages/Server.EntoryPoint.WebApi/Middleware/EfRestExtention.cs
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

HTTP Logを出力するようにする
  packages/Server.EntoryPoint.WebApi/Middleware/EfRestExtention.cs
  packages/Server.EntoryPoint.WebApi/Program.cs
  packages/Server.EntoryPoint.WebApi/appsettings.json
  packages/infra-aws-resource/lib/getAlbService.ts
Due: eslint --fix, prettier --write, dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

DbContextのEntityはモジュール内で定義する
  packages/Server.EntoryPoint.AppDbMigration/Migrations/20220702065755_Init.Designer.cs
  packages/Server.EntoryPoint.AppDbMigration/Migrations/20220702065755_Init.cs
  packages/Server.EntoryPoint.AppDbMigration/Migrations/AppDbContextModelSnapshot.cs
  packages/Server.Repository.AppDb/AppDbContext.cs
  packages/Server.Repository.AppDb/Entity/Backlog.cs
  packages/Server.Repository.AppDb/Entity/BacklogTask.cs
  packages/Server.Repository.AppDb/Entity/Epic.cs
  packages/Server.Repository.AppDb/Entity/Organization.cs
  packages/Server.Repository.AppDb/Entity/Project.cs
  packages/Server.Repository.AppDb/Entity/TaskBase.cs
  packages/Server.Repository.AppDb/Server.Repository.AppDb.csproj
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

EntiryPointをMainに名称変更
  Server.sln
  dist/migration/Dockerfile
  dist/webapp/Dockerfile
  packages/Server.EntoryPoint.AppDbMigration/Migrations/20220702065755_Init.Designer.cs
  packages/Server.EntoryPoint.AppDbMigration/Migrations/20220702065755_Init.cs
  packages/Server.EntoryPoint.AppDbMigration/Migrations/AppDbContextModelSnapshot.cs
  packages/Server.Main.AppDbMigration/.gitignore
  packages/Server.Main.AppDbMigration/AppDbContextFactory.cs
  packages/Server.Main.AppDbMigration/DbSecret.cs
  packages/Server.Main.AppDbMigration/Migrations/.editorconfig
  packages/Server.Main.AppDbMigration/Program.cs
  packages/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  packages/Server.Main.AppDbMigration/appsettings.json
  packages/Server.Main.WebApi/.gitignore
  packages/Server.Main.WebApi/Controllers/ProjectController.cs
  packages/Server.Main.WebApi/DbSecret.cs
  packages/Server.Main.WebApi/Middleware/EfRestExtention.cs
  packages/Server.Main.WebApi/Middleware/EfRestSwaggerExtention.cs
  packages/Server.Main.WebApi/Program.cs
  packages/Server.Main.WebApi/Properties/launchSettings.json
  packages/Server.Main.WebApi/Server.Main.WebApi.csproj
  packages/Server.Main.WebApi/Service/AddAppDbContextExtention.cs
  packages/Server.Main.WebApi/StatusCodeExceptionFilter.cs
  packages/Server.Main.WebApi/appsettings.json
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

C#のテストを追加
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  Server.sln
  package.json
  packages/Server.Main.AppDbMigration/AppDbContextFactory.cs
  packages/Server.Main.AppDbMigration/Migrations/20220703025100_Init.Designer.cs
  packages/Server.Main.AppDbMigration/Migrations/20220703025100_Init.cs
  packages/Server.Main.AppDbMigration/Migrations/AppDbContextModelSnapshot.cs
  packages/Server.Main.WebApi/Middleware/EfRestExtention.cs
  packages/Server.Main.WebApi/Service/AddAppDbContextExtention.cs
  packages/Server.Repository.AppDb.Test/.gitignore
  packages/Server.Repository.AppDb.Test/AppDbContextTest.cs
  packages/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
  packages/Server.Repository.AppDb.Test/appsettings.json
  packages/Server.Repository.AppDb/AppDbContext.cs
  packages/Server.Repository.AppDb/Entity/Backlog.cs
  packages/Server.Repository.AppDb/Entity/BacklogTask.cs
  packages/Server.Repository.AppDb/Entity/Epic.cs
  packages/Server.Repository.AppDb/Entity/Project.cs
  packages/front-ra-detail/src/organizations/getOrganizationCreate.test.tsx
  packages/front-ra-detail/src/organizations/getOrganizationEdit.test.tsx
  packages/front-ra-detail/src/organizations/getOrganizationList.test.tsx
  packages/front-ra-detail/src/organizations/getOrganizationShow.test.tsx
  packages/infra-aws-main/bin/main.ts
  packages/infra-aws-resource/lib/getRdsServerless.test.ts
  packages/infra-aws-resource/lib/getRdsServerless.ts
  packages/infra-aws-resource/lib/index.ts
Due: eslint --fix, prettier --write, dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

GitHub Actionでテスト用にDockerを起動
  .github/workflows/check.yml
Due: none

xUnitのテスト結果ファイルを出力
  .github/workflows/check.yml
  packages/Server.Repository.AppDb.Test/.gitignore
  packages/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
Due: none

sonar-scannerのパラメータを修正し、テストレポート取り込みエラーを修正する
  .github/workflows/check.yml
Due: none

引用符を削除
  .github/workflows/check.yml
Due: none

すべての引用符を削除
  .github/workflows/check.yml
Due: none

チェック用アクションをC#とTypeScriptに分割
  .github/workflows/check-cs.yml
  .github/workflows/check-ts.yml
  packages/infra-aws-app/lib/getApp.ts
  packages/infra-aws-main/bin/main.ts
  packages/infra-aws-resource/lib/getAlbService.test.ts
  packages/infra-aws-resource/lib/getAlbService.ts
  packages/infra-aws-resource/lib/getRdbMigrationTask.test.ts
  packages/infra-aws-resource/lib/getRdbMigrationTask.ts
  packages/infra-aws-resource/lib/getRdsAurora.test.ts
  packages/infra-aws-resource/lib/getRdsAurora.ts
  packages/infra-aws-resource/lib/getRdsMysql.test.ts
  packages/infra-aws-resource/lib/getRdsMysql.ts
  packages/infra-aws-resource/lib/getRdsServerless.test.ts
  packages/infra-aws-resource/lib/getRdsServerless.ts
  packages/infra-aws-resource/lib/getRunTaskOnce.test.ts
  packages/infra-aws-resource/lib/getRunTaskOnce.ts
  packages/infra-aws-resource/lib/getVpc.test.ts
  packages/infra-aws-resource/lib/getVpc.ts
  packages/infra-aws-stack/lib/getStatefulStack.ts
  packages/infra-aws-stack/lib/getStatelessStack.ts
Due: eslint --fix, prettier --write

AddAppDbContextから引数を削除
  packages/Server.Main.WebApi/Program.cs
  packages/Server.Main.WebApi/Service/AddAppDbContextExtention.cs
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

費用削減のためVPCにはPublicサブネットのみにする
  packages/Server.Main.AppDbMigration/AppDbContextFactory.cs
  packages/Server.Main.AppDbMigration/DbSecret.cs
  packages/Server.Main.WebApi/CloudCqsOptions.cs
  packages/Server.Main.WebApi/DbSecret.cs
  packages/Server.Main.WebApi/Middleware/EfRestExtention.cs
  packages/Server.Main.WebApi/Program.cs
  packages/Server.Main.WebApi/Service/AddAppDbContextExtention.cs
  packages/Server.Main.WebApi/Service/AddCloudCqsOptionsExtention.cs
  packages/infra-aws-main/bin/main.ts
  packages/infra-aws-resource/lib/getAlbService.ts
  packages/infra-aws-resource/lib/getRdsAurora.ts
  packages/infra-aws-resource/lib/getRdsMysql.ts
  packages/infra-aws-resource/lib/getRdsServerless.ts
  packages/infra-aws-resource/lib/getRunTaskOnce.ts
  packages/infra-aws-resource/lib/getVpc.test.ts
  packages/infra-aws-resource/lib/getVpc.ts
Due: eslint --fix, prettier --write, dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

エラーになるテストの修正
  packages/infra-aws-resource/lib/getRdsAurora.test.ts
  packages/infra-aws-resource/lib/getRdsMysql.test.ts
  packages/infra-aws-resource/lib/getVpc.test.ts
Due: eslint --fix, prettier --write

node modeuleのアップグレード
  package.json
  packages/front-ra-admin/package.json
  packages/front-ra-data-provider/package.json
  packages/front-ra-detail/package.json
  packages/infra-aws-app/package.json
  packages/infra-aws-main/package.json
  packages/infra-aws-resource/package.json
  packages/infra-aws-stack/package.json
  yarn.lock
Due: none

.NET packageのアップグレード
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/src/Server.Model/Server.Model.csproj
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  server/test/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
Due: none

Route53を利用する
  packages/infra-aws-app/lib/getApp.ts
  packages/infra-aws-main/bin/main.ts
  packages/infra-aws-resource/lib/getARecord.test.ts
  packages/infra-aws-resource/lib/getARecord.ts
  packages/infra-aws-resource/lib/getAlbService.test.ts
  packages/infra-aws-resource/lib/getAlbService.ts
  packages/infra-aws-resource/lib/getCertificate.test.ts
  packages/infra-aws-resource/lib/getCertificate.ts
  packages/infra-aws-resource/lib/getCertificateAdd.test.ts
  packages/infra-aws-resource/lib/getCertificateAdd.ts
  packages/infra-aws-resource/lib/getRdsAurora.ts
  packages/infra-aws-resource/lib/getRdsMysql.ts
  packages/infra-aws-resource/lib/getRdsServerless.ts
  packages/infra-aws-resource/lib/getRoute53.test.ts
  packages/infra-aws-resource/lib/getRoute53.ts
  packages/infra-aws-resource/lib/getVpc.ts
  packages/infra-aws-resource/lib/index.ts
  packages/infra-aws-stack/lib/getHostNameStack.ts
  packages/infra-aws-stack/lib/getHostedZoneStack.ts
  packages/infra-aws-stack/lib/getStatefulStack.ts
  packages/infra-aws-stack/lib/getStatelessStack.ts
  packages/infra-aws-stack/lib/index.ts
Due: eslint --fix, prettier --write

Cognito認証を追加
  packages/infra-aws-app/lib/getApp.ts
  packages/infra-aws-main/bin/main.ts
  packages/infra-aws-resource/lib/getARecord.test.ts
  packages/infra-aws-resource/lib/getAlbService.test.ts
  packages/infra-aws-resource/lib/getAlbService.ts
  packages/infra-aws-resource/lib/getCertificate.test.ts
  packages/infra-aws-resource/lib/getCertificate.ts
  packages/infra-aws-resource/lib/getCognito.test.ts
  packages/infra-aws-resource/lib/getCognito.ts
  packages/infra-aws-resource/lib/index.ts
  packages/infra-aws-stack/lib/getHostedZoneStack.ts
  packages/infra-aws-stack/lib/getStatefulStack.ts
  packages/infra-aws-stack/lib/getStatelessStack.ts
  packages/infra-aws-stack/lib/index.ts
Due: eslint --fix, prettier --write

不要なモジュールを削除
  packages/infra-aws-resource/lib/getCertificateAdd.test.ts
  packages/infra-aws-resource/lib/getCertificateAdd.ts
  packages/infra-aws-resource/lib/index.ts
Due: eslint --fix, prettier --write

AWS CDK関連のテストを追加
  packages/infra-aws-app/lib/getApp.ts
  packages/infra-aws-app/lib/index.ts
  packages/infra-aws-app/package.json
  packages/infra-aws-app/tsconfig.json
  packages/infra-aws-main/bin/__snapshots__/getMain.test.ts.snap
  packages/infra-aws-main/bin/getMain.test.ts
  packages/infra-aws-main/bin/getMain.ts
  packages/infra-aws-main/bin/main.ts
  packages/infra-aws-main/package.json
  packages/infra-aws-main/tsconfig.json
  packages/infra-aws-resource/lib/getARecord.test.ts
  packages/infra-aws-resource/lib/getAlbService.test.ts
  packages/infra-aws-resource/lib/getCertificate.test.ts
  packages/infra-aws-resource/lib/getCognito.test.ts
  packages/infra-aws-resource/lib/getRdbMigrationTask.test.ts
  packages/infra-aws-resource/lib/getRdbMigrationTask.ts
  packages/infra-aws-resource/lib/getRdsAurora.test.ts
  packages/infra-aws-resource/lib/getRdsMysql.test.ts
  packages/infra-aws-resource/lib/getRdsServerless.test.ts
  packages/infra-aws-resource/lib/getRoute53.test.ts
  packages/infra-aws-resource/lib/getRoute53.ts
  packages/infra-aws-resource/lib/getRunTaskOnce.test.ts
  packages/infra-aws-resource/lib/getRunTaskOnce.ts
  packages/infra-aws-resource/lib/getVpc.test.ts
  packages/infra-aws-stack/lib/getApp.test.ts
  packages/infra-aws-stack/lib/getApp.ts
  packages/infra-aws-stack/lib/getHostNameStack.test.ts
  packages/infra-aws-stack/lib/getHostNameStack.ts
  packages/infra-aws-stack/lib/getStatefulStack.test.ts
  packages/infra-aws-stack/lib/getStatefulStack.ts
  packages/infra-aws-stack/lib/getStatelessStack.test.ts
  packages/infra-aws-stack/lib/getStatelessStack.ts
  packages/infra-aws-stack/lib/index.ts
  test/dist/migration/Dockerfile
  test/dist/webapp/Dockerfile
  vitest.config.ts
Due: eslint --fix, prettier --write

パッケージのアップグレード
  .config/dotnet-tools.json
  package.json
  packages/front-ra-admin/package.json
  packages/front-ra-detail/package.json
  packages/infra-aws-main/bin/getMain.test.ts
  packages/infra-aws-main/package.json
  packages/infra-aws-main/test/dist/migration/Dockerfile
  packages/infra-aws-main/test/dist/webapp/Dockerfile
  packages/infra-aws-resource/package.json
  packages/infra-aws-stack/package.json
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  yarn.lock
Due: eslint --fix, prettier --write

C#のテストを追加
  Server.sln
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/test/Server.Main.WebApi.Test/Middleware/EfRestExtentionTest.cs
  server/test/Server.Main.WebApi.Test/Middleware/EfRestSwaggerExtentionTest.cs
  server/test/Server.Main.WebApi.Test/Server.Main.WebApi.Test.csproj
  server/test/Server.Main.WebApi.Test/Service/AddAppDbContextExtentionTest.cs
  server/test/Server.Main.WebApi.Test/Service/AddCloudCqsOptionsExtentionTest.cs
  server/test/Server.Main.WebApi.Test/TestWebApplicationFactory.cs
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier

npmパッケージの最新化とテストコードの修正
  package.json
  packages/front-ra-detail/package.json
  packages/front-ra-detail/src/organizations/getOrganizationCreate.test.tsx
  packages/front-ra-detail/src/organizations/getOrganizationEdit.test.tsx
  packages/front-ra-detail/src/organizations/getOrganizationList.test.tsx
  packages/front-ra-detail/src/organizations/getOrganizationShow.test.tsx
  yarn.lock
Due: eslint --fix, prettier --write

@vitest/coverage-c8を追加
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

nuget packageのupgrade
  .config/dotnet-tools.json
  .vscode/settings.json
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/src/Server.Model/Server.Model.csproj
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  server/test/Server.Main.WebApi.Test/Server.Main.WebApi.Test.csproj
  server/test/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
Due: none

Dev Containerを設定
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

Upgrade NPM packages
  package.json
  yarn.lock
Due: none

fix conflict
  yarn.lock
Due: none

dotnet 6 -> 7
  .config/dotnet-tools.json
  .devcontainer/devcontainer.json
  .husky/pre-commit
  .lintstagedrc
  .vscode/launch.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  rome.json
  server/src/Server.Main.AppDbMigration/Server.Main.AppDbMigration.csproj
  server/src/Server.Main.WebApi/Server.Main.WebApi.csproj
  server/src/Server.Model/Server.Model.csproj
  server/src/Server.Repository.AppDb/AppDbContext.cs
  server/src/Server.Repository.AppDb/Server.Repository.AppDb.csproj
  server/test/Server.Main.WebApi.Test/Server.Main.WebApi.Test.csproj
  server/test/Server.Repository.AppDb.Test/Server.Repository.AppDb.Test.csproj
  yarn.lock
Due: dotnet format style --include, dotnet format analyzers --include, dotnet csharpier
